sentinel-production/TacitRed-IOC-CrowdStrike/Package/mainTemplate.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "pb-tacitred-to-crowdstrike"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "TacitRed_ApiKey": {
      "type": "securestring",
      "defaultValue": "",
      "metadata": {
        "description": "TacitRed API Key for authentication"
      }
    },
    "TacitRed_Domain": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Optional domain filter for TacitRed findings"
      }
    },
    "CrowdStrike_ClientId": {
      "type": "securestring",
      "defaultValue": "",
      "metadata": {
        "description": "CrowdStrike OAuth2 Client ID"
      }
    },
    "CrowdStrike_ClientSecret": {
      "type": "securestring",
      "defaultValue": "",
      "metadata": {
        "description": "CrowdStrike OAuth2 Client Secret"
      }
    }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "properties": {
        "state": "Enabled",
        "parameters": {
          "TacitRed_ApiKey": {
            "value": "[parameters('TacitRed_ApiKey')]"
          },
          "TacitRed_Domain": {
            "value": "[parameters('TacitRed_Domain')]"
          },
          "CrowdStrike_ClientId": {
            "value": "[parameters('CrowdStrike_ClientId')]"
          },
          "CrowdStrike_ClientSecret": {
            "value": "[parameters('CrowdStrike_ClientSecret')]"
          }
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "TacitRed_ApiUrl": {
              "type": "string",
              "defaultValue": "https://app.tacitred.com/api/v1/findings"
            },
            "TacitRed_ApiKey": {
              "type": "string",
              "defaultValue": ""
            },
            "TacitRed_Domain": {
              "type": "string",
              "defaultValue": ""
            },
            "CrowdStrike_BaseUrl": {
              "type": "string",
              "defaultValue": "https://api.us-2.crowdstrike.com"
            },
            "CrowdStrike_TokenPath": {
              "type": "string",
              "defaultValue": "/oauth2/token"
            },
            "CrowdStrike_IocPath": {
              "type": "string",
              "defaultValue": "/iocs/entities/indicators/v1"
            },
            "CrowdStrike_ClientId": {
              "type": "string",
              "defaultValue": ""
            },
            "CrowdStrike_ClientSecret": {
              "type": "string",
              "defaultValue": ""
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Hour",
                "interval": 6,
                "timeZone": "UTC"
              }
            }
          },
          "actions": {
            "Get_TacitRed_Findings": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "@{parameters('TacitRed_ApiUrl')}",
                "headers": {
                  "accept": "application/json",
                  "Authorization": "@{parameters('TacitRed_ApiKey')}"
                },
                "queries": {
                  "types[]": "compromised_credentials",
                  "domains[]": "@{if(equals(parameters('TacitRed_Domain'),''),'',parameters('TacitRed_Domain'))}",
                  "page": 1,
                  "page_size": 100
                }
              },
              "runAfter": {}
            },
            "Filter_Valid_Domains": {
              "type": "Query",
              "inputs": {
                "from": "@body('Get_TacitRed_Findings')?['results']",
                "where": "@or(not(equals(item()?['finding']?['supporting_data']?['site_domain'], null)), not(equals(item()?['finding']?['supporting_data']?['domain'], null)))"
              },
              "runAfter": {
                "Get_TacitRed_Findings": [
                  "Succeeded"
                ]
              }
            },
            "Get_CrowdStrike_Token": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@{concat(parameters('CrowdStrike_BaseUrl'), parameters('CrowdStrike_TokenPath'))}",
                "headers": {
                  "Content-Type": "application/x-www-form-urlencoded"
                },
                "body": "client_id=@{parameters('CrowdStrike_ClientId')}&client_secret=@{parameters('CrowdStrike_ClientSecret')}"
              },
              "runAfter": {
                "Filter_Valid_Domains": [
                  "Succeeded"
                ]
              }
            },
            "For_each_Finding": {
              "type": "Foreach",
              "foreach": "@body('Filter_Valid_Domains')",
              "runAfter": {
                "Get_CrowdStrike_Token": [
                  "Succeeded"
                ]
              },
              "actions": {
                "Post_Domain_IOC_Scope": {
                  "type": "Scope",
                  "actions": {
                    "Post_Domain_IOC": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "@{concat(parameters('CrowdStrike_BaseUrl'), parameters('CrowdStrike_IocPath'), '?ignore_warnings=true')}",
                        "headers": {
                          "Content-Type": "application/json",
                          "Authorization": "@{concat('Bearer ', body('Get_CrowdStrike_Token')?['access_token'])}"
                        },
                        "body": {
                          "indicators": [
                            {
                              "type": "domain",
                              "value": "@{coalesce(item()?['finding']?['supporting_data']?['site_domain'], item()?['finding']?['supporting_data']?['domain'])}",
                              "action": "detect",
                              "severity": "medium",
                              "description": "TacitRed Compromised Domain | Stealer: @{coalesce(item()?['finding']?['supporting_data']?['stealer'], 'Unknown')} | Credential: @{coalesce(item()?['finding']?['supporting_data']?['credential'], 'N/A')} | Date: @{coalesce(item()?['finding']?['supporting_data']?['date_compromised'], item()?['time'])} | Machine: @{coalesce(item()?['finding']?['supporting_data']?['machine_name'], 'Unknown')} (@{coalesce(item()?['finding']?['supporting_data']?['os'], 'Unknown OS')})",
                              "source": "TacitRed",
                              "tags": ["compromised_credential", "tacitred_domain", "@{coalesce(item()?['finding']?['supporting_data']?['stealer'], 'stealer')}"],
                              "platforms": ["windows", "mac", "linux"],
                              "applied_globally": true
                            }
                          ]
                        }
                      }
                    }
                  }
                },
                "Post_URL_IOC_Scope": {
                  "type": "Scope",
                  "actions": {
                    "Check_URL_Exists": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": ["@item()?['finding']?['supporting_data']?['compromised_url']", null]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Post_URL_IOC": {
                          "type": "Http",
                          "inputs": {
                            "method": "POST",
                            "uri": "@{concat(parameters('CrowdStrike_BaseUrl'), parameters('CrowdStrike_IocPath'), '?ignore_warnings=true')}",
                            "headers": {
                              "Content-Type": "application/json",
                              "Authorization": "@{concat('Bearer ', body('Get_CrowdStrike_Token')?['access_token'])}"
                            },
                            "body": {
                              "indicators": [
                                {
                                  "type": "domain",
                                  "value": "@{split(split(coalesce(item()?['finding']?['supporting_data']?['compromised_url'], ''), '://')[1], '/')[0]}",
                                  "action": "detect",
                                  "severity": "high",
                                  "description": "TacitRed Compromised Login URL | Full URL: @{item()?['finding']?['supporting_data']?['compromised_url']} | Stealer: @{coalesce(item()?['finding']?['supporting_data']?['stealer'], 'Unknown')} | Credential: @{coalesce(item()?['finding']?['supporting_data']?['credential'], 'N/A')} | Date: @{coalesce(item()?['finding']?['supporting_data']?['date_compromised'], item()?['time'])}",
                                  "source": "TacitRed",
                                  "tags": ["compromised_url", "tacitred_url", "login_page", "@{coalesce(item()?['finding']?['supporting_data']?['stealer'], 'stealer')}"],
                                  "platforms": ["windows", "mac", "linux"],
                                  "applied_globally": true
                                }
                              ]
                            }
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      }
                    }
                  },
                  "runAfter": {
                    "Post_Domain_IOC_Scope": [
                      "Succeeded",
                      "Failed"
                    ]
                  }
                },
                "Log_Result": {
                  "type": "Compose",
                  "inputs": {
                    "domain": "@{coalesce(item()?['finding']?['supporting_data']?['site_domain'], item()?['finding']?['supporting_data']?['domain'])}",
                    "url": "@{coalesce(item()?['finding']?['supporting_data']?['compromised_url'], 'N/A')}",
                    "credential": "@{coalesce(item()?['finding']?['supporting_data']?['credential'], 'N/A')}",
                    "status": "processed"
                  },
                  "runAfter": {
                    "Post_URL_IOC_Scope": [
                      "Succeeded",
                      "Failed"
                    ]
                  }
                }
              }
            }
          },
          "outputs": {}
        }
      }
    }
  ],
  "outputs": {}
}
